footer
        nav
            img(src="image/Logo.png" alt="狸小路 LOGO" class="logo")
            div(class="link")
                a(href="#") 最新消息
                a(href="#") 產品介紹
                a(href="#") 聯絡我們
            div(id="copy") copyright &copy; 2019 狸小路 All rights resered
