div(id="banner")
            nav
                a(href="index.html")
                    img(src="image/Logo.png" alt="狸小路 LOGO" class="logo")
                div(class="link")
                    a(href="news.html") 最新消息
                    a(href="#") 產品介紹
                    a(href="#") 聯絡我們