html(lang="zh")
    head
        meta(charset="UTF-8")
        title 狸小路 | 最新消息
        link(rel="stylesheet", href="style.css")
        link(rel="shortcut icon", href="image/ico.png", type="image/x-icon")
    body

        include nav.pug

        include footer.pug